@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
  
@font-face {
    font-family: "FiraSansBold";
    src: url("../fonts/FiraSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansMedium";
    src: url("../fonts/FiraSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansLight";
    src: url("../fonts/FiraSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FiraSansRegular";
    src: url("../fonts/FiraSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}